/* Base styles */
body,
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #fff;
}

/* Pixel art */
.pixel-art {
  image-rendering: pixelated;
}

/* Characters */
.Phantom,
.Christine,
.Raoul {
  width: 400px;
  height: 400px;
  position: absolute;
  justify-content: space-between;
}

.Phantom {
  bottom: 2%;
  right: 55%;
}

.Christine {
  bottom: 5%;
  left: 40%;
}

.Raoul {
  right: 25%;
  bottom: 2%;
}

/* Forms */
.login,
.signUp,
.joinGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 100%;
  max-width: 450px;
}

.login input,
.signUp input,
.joinGame input,
.login button,
.signUp button,
.joinGame button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  height: 40px;
}

.login button,
.signUp button,
.joinGame button {
  height: 50px;
  cursor: pointer;
  background-color: #444;
  color: #fff;

}

/* Spacing */
.Space {
  height: 10px;
}

/* Labels */
.login label,
.signUp label {
  text-align: center;
  color: #fff;
  font-size: 2em;
}

/* Bingo card */
.bingo-card {
  position: absolute;
  top: 5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  width: 100%;
  max-width: 500px;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.85;
  z-index: 4;
}

.row{
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  width: 100%;
  padding-bottom: 70%;
  border: 2px solid #333;
  background-color: #fff;
  cursor: pointer;
  color: black;
  z-index: 5;
}

.square:active {
  background-color: lightgray;
}

.square:hover {
  background-color: #f0f0f0;
}

.square.checked {
  background-image: url(./images/wax.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.randomPhrase {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 25%;
  top: 25%;
}

/* Headings */
h4 {
  font-size: 30px;
}

/* Title and Photo */
.pTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  height: 300px;
  width: 300px;
  overflow: visible;
  z-index: 0;
}

.title {
  font-size: 2em;
}

/* Logout */
.Logout {
  position: absolute;
  top: 2%;
  right: 5%;
  border-radius: 10px;
  z-index: 999;
  font-size: larger;
  cursor: pointer;
}


/* Media Queries for iPhone 6 through iPhone 14 Pro Max */
@media (max-width: 720px) {

  body,
  .App {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .randomPhrase {
    position: relative;
    font-size: 10px;
    bottom: 5%;
  }

.Phantom, 
.Christine,
.Raoul{
  position: absolute;
  z-index: 0;
}

.Phantom{
  bottom: 10%;
  left: 5%;
}
.Christine{
  bottom: 12%;
  right: 15%;
}
.Raoul{
  bottom: 8%;
  right: 15%;
}

  .Phantom,
  .Christine,
  .Raoul {
  width: 45vw;
  height: 25vh;
}

  .login,
  .signUp,
  .joinGame {
    width: 95vw;
    margin: 10px 0;
  }

  .login input,
  .signUp input,
  .joinGame input,
  .login button,
  .signUp button,
  .joinGame button {
    max-width: 60%;
  }

  .bingo-card {
  width: 95vw;
  height: 75vw;
  top: 7%;
  left: 1%;
  padding: 4px;
  position: absolute;
  }

  .square {
font-size: 2.8vw;
}

  .randomPhrase {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: start;
  right: auto;
  top: 2%;
  left: 2%;
  width: 5vw;
  height: 5vh;
  padding: 0.5em;
  margin: 0.5em;
}

  .photo {
    height: 200px;
    width: 200px;
  }

  .title {
    font-size: 1.5em;
  }

  .Logout {
    top: 5%;
    right: 5%;
    font-size: medium;
  }
}